[submodule "perfmon-tui"]
	path = perfmon-tui
	url = git@github.com:MunMun06/perfmon-tui.git
[submodule "web_dev/food-diary"]
	path = web_dev/food-diary
	url = git@github.com:MunMun06/food-diary.git
[submodule "lean4/math/natural_number_game_lean4"]
	path = lean4/math/natural_number_game_lean4
	url = git@github.com:MunMun06/natural_number_game_lean4.git
[submodule "web_dev/6809616870_MyShop"]
	path = web_dev/6809616870_MyShop
	url = git@github.com:MunMun06/6809616870_Myshop.git
